<phpunit
        colors="true"
        bootstrap="vendor/autoload.php"
>
    <testsuites>
        <testsuite name="FastD">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <testsuites>
        <testsuite name="App">
            <directory>tests/src/Testing</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">src</directory>
            <exclude>
                <file>src/TestCase.php</file>
                <directory>src/Console</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
