<phpunit
        colors="true"
        bootstrap="vendor/autoload.php"
>
    <testsuites>
        <testsuite name="FastD">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <testsuites>
        <testsuite name="App">
            <directory>tests/src/Testing</directory>
        </testsuite>
    </testsuites>
</phpunit>
