{% extends "layout.twig" %}
{% block content %}
    <p>entity save: <pre class="language-php"><code>{{ id }}</code></pre></p>
    <p><a href="{{ url('database.orm') }}">下一章: ORM</a></p>
{% endblock %}