DirectoryIndex prod.php

<IfModule mod_rewrite.c>
  Options +FollowSymlinks

  RewriteEngine On

  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME} !-f


  RewriteRule ^(.*)$ prod.php/$1 [QSA,PT,L]
</IfModule>