<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome | FastD 2.0</title>
    <link rel="stylesheet" href="{{ asset('welcomebundle/prism.css') }}">
    <style>
        *. {
            -webkit-font-smoothing: antialiased;
        }
        p {
            line-height: 28px;
        }
    </style>
</head>
<body>
{% block content %}{% endblock %}
</body>
<script type="text/javascript" src="{{ asset('welcomebundle/prism.js') }}"></script>
</html>