<div class="page page-auth clearfix">

    <div class="auth-container">
        <!-- site logo -->
        <h1 class="site-logo h2 mb15"><a href="/"><span>App</span>&nbsp;Board</a></h1>

        <div class="form-container">
            <form class="form-horizontal" action="/">
                <p class="small text-center">Enter your email address you've registered with you. We'll send you reset link to that address.</p>
                <div class="form-group form-group-lg">
                    <input class="form-control" type="email" placeholder="Enter email address">
                </div>
                <button type="submit" class="btn btn-primary btn-block text-uppercase btn-lg">Reset</button>
            </form>
        </div>

    </div>
    <!-- #end auth-wrap -->
</div>