<div class="nav-head">
	<!-- Site logo -->
	<a href="/" class="site-logo"><span>App</span>&nbsp;Board</a>
</div>


<div class="head-wrap clearfix">
	<!-- navbar right -->
	<ul class="list-unstyled navbar-right">
		<!-- Notification Dropdown -->
		<li class="dropdown" dropdown>
			<a href class="dropdown-toggle notification" dropdown-toggle>
				<i class="fa fa-bell-o"></i>
				<span class="badge badge-danger badge-xs circle">3</span>
			</a>
			<div class="panel panel-default dropdown-menu">
				<div class="panel-heading">
					<p class="panel-title">You have <strong>3</strong> new notifications</p>
				</div>
				<ul class="list-unstyled noti-drop clearfix" custom-scrollbar>
					<li>
						<a href class="clearfix">
							<i class="fa fa-bolt icon left bg-primary"></i>
							<div class="info left">
								<strong>New app uploaded</strong>
								<span class="small time">few secs ago</span>
							</div>
						</a>
					</li>
					<li>
						<a href class="clearfix">
							<i class="fa fa-info icon left bg-info"></i>
							<div class="info left">
								<strong>Samuel left a message</strong>
								<span class="small time">3 min ago</span>
							</div>
						</a>
					</li>
					<li>
						<a href class="clearfix">
							<i class="fa fa-calendar-o icon left"></i>
							<div class="info left">
								<strong>Meetup at 3:00 P.M</strong>
								<span class="small time">2 hours ago</span>
							</div>
						</a>
					</li>
				</ul>
				<div class="panel-footer">
					<p class="read-all mb0 small"><a href="#na">View all notifications</a>
						<i class="fa fa-circle-o-notch right" title="mark all read"></i>
					</p>
				</div>
			</div>
		</li>
		<!-- #end notification dropdown -->

		<!-- # floating sidebar -->
		<li ng-class="{open: sidebarOpen}" ng-click="toggleSidebar()">
			<a href>
				<i class="fa fa-tasks"></i>
			</a>
			<div class="floating-sidebar">
				<!-- tasks -->
				<div class="ongoing-tasks">
					<h3 class="small title mb30">Ongoing Tasks</h3>
					<ul class="list-unstyled mb15 clearfix">
						<li>
							<div class="clearfix mb10">
								<small class="left">App Upload</small>
								<small class="right">80%</small>
							</div>
							<progressbar value="80" class="progress-xxs" type="success"></progressbar>
						</li>
						<li>
							<div class="clearfix mb10">
								<small class="left">Creating Assets</small>
								<small class="right">50%</small>
							</div>
							<progressbar value="50" class="progress-xxs" type="danger"></progressbar>
						</li>
						<li>
							<div class="clearfix mb10">
								<small class="left">New UI 2.0</small>
								<small class="right">90%</small>
							</div>
							<progressbar value="90" class="progress-xxs" type="warning"></progressbar>
						</li>
					</ul>
				</div>
				<!-- #end tasks -->

				<!-- transaction -->
				<div class="stats">
					<h3 class="small title mb15">Transaction</h3>
					<ul class="list-unstyled clearfix mb15">
						<li class="clearfix">
							<i class="fa fa-paypal left bg-primary"></i>
							<div class="info">
								<strong>Send to Elli at 4:00 pm</strong>
								<span>$3000</span>
							</div>
						</li>
						<li class="clearfix">
							<i class="fa fa-bitcoin left bg-warning"></i>
							<div class="info">
								<strong>Received from Salman at 12:00 pm</strong>
								<span>B 35000</span>
							</div>
						</li>
						<li class="clearfix">
							<i class="fa fa-gittip left bg-info"></i>
							<div class="info">
								<strong>Donate to gittip</strong>
								<span>$500</span>
							</div>
						</li>
						
					</ul>
				</div>
				<!-- #end transaction -->
			</div>
		</li>
		<!-- #end floating sidebar -->


		<!-- profile drop -->
		<li class="dropdown" dropdown>
			<a href class="user-profile dropdown-toggle" dropdown-toggle>
				<img src="{{ asset('boardbundle/images/admin.jpg') }}" alt="admin-pic">
			</a>
			<!-- Profile drop -->
			<div class="panel panel-default dropdown-menu">
				<div class="panel-body">
					<figure class="photo left">
						<img src="{{ asset('boardbundle/images/admin.jpg') }}" alt="admin-pic">
						<a href="j:;">Photo</a>
					</figure>
					<div class="profile-info right">
						<p class="user-name">Bryan R.</p>
						<p>bryan.r@gmail.com</p>
						<a href="j:;" class="btn btn-info btn-xs">See Profile</a>
					</div>
				</div>
				<div class="panel-footer clearfix">
					<a href="j:;" class="btn btn-default btn-sm left">Account</a>
					<a href="#/pages/lock-screen" class="btn btn-info btn-sm right">Sign Out</a>
				</div>
			</div>
		</li>
		<!-- #end profile-drop -->
	</ul>
</div>


