<html>
<head>
    <title>服务器可能病了</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style type="text/css">

    </style>
</head>
<body>
<div id="content">
    <h1>服务器可能病了！</h1>
    <h2>正在医院打点滴。。。放心，没有生命危险</h2>
    <h3>错误代码：500</h3>
</div>
</body>
</html>